@{
    ViewData["Title"] = "Home";
}

<!--About-->

<section class="mt-5">
    <div class="container ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 about">
                <h1 class="text-white fw-bolder text-center mb-5">
                    Hi, Rasul's here!
                </h1>

                <p class="about-text">
                    I am Rasul Sonmez, full stack developer.
                </p>

                <p class="about-text">
                    My passion for software lies with dreaming up ideas and making them come true with elegant interfaces. I take great care in experience, architecture, and code quality of the things I build.
                </p>


                <p class="about-text">
                    I like to develop projects in line with requests, to brainstorm together, to help people, to enlighten people and when people enlighten me.
                </p>


                <p class="about-text">
                    Outside of programming, I enjoy reading books and watching movies . I love the pleasure and excitement of gaining new knowledge other than programming from the books I read.
                </p>

                <hr />
                <p class="about-text">
                    If you like my works, contact me to work.
                </p>
            </div>
        </div>
    </div>
</section>