
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Projects-->
<section class="mt-5">
    <div class="container">
        <h1 class="text-white fw-bolder text-center mb-5">
           My Projects
        </h1>
        <div class="row row-cols-4 d-flex justify-content-center">
            <!--item-1-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/69868cd0-97bf-4c52-ac80-bf7778a1f927.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">milvak.org</h5>
                        <p class="card-text">website of the milvak <br /> charity</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--item-2-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/9d3dfc89-4c08-4880-9cc1-f6aa2f0c20af.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">arkonmice.com</h5>
                        <p class="card-text">website of the arkonmice company</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--item-3-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/b4e857f2-9ab4-43fe-af63-8cab37d62a07.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">medexatr.com</h5>
                        <p class="card-text">website of the medexatr company</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--item-4-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/986f88c2-f58c-495a-8029-4932744f40cf.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">mekadioglu.av.tr</h5>
                        <p class="card-text">website of the mekadioglu law company</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--item-5-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/4f850b42-a3e9-49f7-b489-524f28eca683.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">yazgonder.com</h5>
                        <p class="card-text">website of the yazgonder company</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--item-6-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/f011eef5-f209-4fd3-b8a1-736a4018819f.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">thegarageservices.com</h5>
                        <p class="card-text">website of the thegarageservices company</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--item-7-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/1d9a2124-be3f-47b4-b5aa-d06b8af6ec18.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">trbangla.com</h5>
                        <p class="card-text">website of the trbangla company</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--item-8-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/1eb0d552-f7b9-4568-b580-d8230899f483.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">risklibebekkongresi.com</h5>
                        <p class="card-text">website of risklibebekkongresi organization </p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>

            <!--item-9-->
            <div class="col mb-3">
                <a href="#" target="_blank" class="card border-0 text-decoration-none shadow">
                    <img src="https://bgcp.bionluk.com/images/portfolio/1400x788/08daf212-2a5b-469c-b282-48fd13e1c422.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">118wcsi.org</h5>
                        <p class="card-text">website of the 118wcsi organization</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="badge text-bg-primary">Html-css-js</span>
                            <span class="badge text-bg-primary">c#-.net core 5</span>
                            <span class="badge text-bg-primary">Mssql</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

