
@{
    ViewData["Title"] = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Skills-->
<section class="mt-5">
    <div class="container">
        <h1 class="text-white fw-bolder text-center mb-5">
            Skills
        </h1>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div>
                    <h3 class="text-white-50">
                        html-css-js
                    </h3>
                    <div class="progress bg-transparent mb-3">
                        <div class="progress-bar progress-bar-striped" style="width: 100%;"></div>
                    </div>
                </div>


                <div>
                    <h3 class="text-white-50">
                        c#- mvc - .net core
                    </h3>
                    <div class="progress bg-transparent mb-3">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 100%;"></div>
                    </div>
                </div>


                <div>
                    <h3 class="text-white-50">
                        mssql
                    </h3>
                    <div class="progress bg-transparent mb-3">
                        <div class="progress-bar progress-bar-striped bg-danger" style="width: 95%;"></div>
                    </div>

                </div>

                <div>
                    <h3 class="text-white-50">
                        reactjs
                    </h3>
                    <div class="progress bg-transparent mb-3">
                        <div class="progress-bar progress-bar-striped bg-warning" style="width: 70%;"></div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>

