/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #ffff;
    --title-color: #999fab;
    --text-color: #e1d0b7;
    --body-color: #18181b;
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
    /*========== Font weight ==========*/
    --font-medium: 300;
    --font-semi-bold: 400;
    --font-bold: 500;
    --font-bolder: 700;
}

html, body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.brand-title {
    color: var(--first-color);
    font-weight: var(--font-bolder);
    font-size: var(--h2-font-size);
    line-height: 1.75rem;
    font-style: italic;
}

.nav-link {
    color: rgba(156,163,175,1);
    transition: 300ms all ease;
    letter-spacing:.14rem;
}

.navbar-nav .nav-link:hover {
    color: var(--first-color);
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    color: var(--first-color);
    border-bottom: 1px solid #ffff;
}


/*about*/

.about-text {
    color: rgba(243,244,246,1);
    font-size:1.1rem;
    line-height: 2rem;
    letter-spacing: .025em;
}

    .about hr {
        border-color: #7d7d7d4d;
        width: 100px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /*projects*/
.card {
    background-color: rgba(39,39,42,0.5);
}

.card-title{
    color:var(--first-color);
}

.card-text {
    color: rgba(243,244,246,1);
}

/*Skills*/

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}